  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

    header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: orange;
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000; /* ensures it stays on top */
  }

    .logo {
    font-size: 22px;
    font-weight: bold;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-size: 17px;
    transition: 0.3s;
  }

  nav a:hover {
    color: #ffd700;
  }

  /* Sample content to enable scrolling */
  .content {
    margin-top: 90px; /* Prevents content from hiding behind fixed header */
    padding: 20px;
  }
  nav {
  padding-right: 40px; /* creates space on the right side */
}
