body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Sidebar : Main : Widgets */
  grid-template-rows: auto 1fr auto; /* Header : Content : Footer */
  height: 100vh;
}

/* Full width header & footer */
.header {
  grid-column: 1 / 4;
  background: blue;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.footer {
  grid-column: 1 / 4;
  background: yellow;
  color: white;
  padding: 15px;
  text-align: center;
}

.sidebar {
  background: #00ff1e;
  color: white;
  padding: 20px;
}

.main {
  background: white;
  padding: 20px;
}

.widgets {
  background: grey;
  padding: 20px;
}
