  .box1 {
    width: 250px;
    margin-bottom: 25px;
    border: 2px solid pink;
    padding: 10px;
    margin: 20px;
    background-color: #ffeaea;
  }

  .box2 {
    width: 250px;
    margin-bottom: 25px;
    border: 5px solid violet;
    padding: 20px;
    margin: 30px;
    background-color: #e7f1ff;
  }

  .box3 {
    width: 250px;
    margin-bottom: 25px;
    border: 8px solid yellow;
    padding: 30px;
    margin: 40px;
    background-color: #e9ffe7;
  }